﻿#achtergrond1 {
		display: block;
		left: 0px;
		position: absolute;
		top: 49px;
		height: 200px;
		width: 1224px;
	}
	
	#achtergrond2 {
		display: block;
		left: 2025px;
		position: absolute;
		top: 49px;
		height: 200px;
		width: 1224px;
	}
	
	
	#ventje {
		display: block;
		left: 2024px;
		position: absolute;
		top: 49px;
		height: 200px;
		width: 200px;
	}
	
	#draadventje {
		display: block;
		left: 400px;
		position: absolute;
		top: -10px;
		height: 300px;
		width: 300px;
		visibility: hidden;
	}
	
	#hand {
	display: block;
	left: 2024px;
	position: absolute;
	top: 27px;
	height: 200px;
	width: 200px;
	}
	
	
	